<div class="item-container">
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchCriteria.name" placeholder="Search by name">
    <input type="text" [(ngModel)]="searchCriteria.type" placeholder="Search by type">
    <button (click)="search()">Search</button>
  </div>
  <div class="items">
    <div class="item" *ngFor="let item of items">
      <img [src]="'assets/images/' + item.image" alt="{{ item.name }}">
      <h3>{{ item.name }}</h3>
      <p>{{ item.price | currency }}</p>
      <button (click)="addToCart(item)">Add to Cart</button>
      <button class="remove" (click)="removeFromCart(item)">Remove from Cart</button>
      <a [routerLink]="['/item', item.id]" class="details-button">Details</a>
    </div>
  </div>
</div>
